<%-  include("./partials/header.ejs")   %>


      <div class="text-center about">
        <h3><span>Creator</span></h3>
       <p><span><a href="https://antunsimic.github.io/resume/">Antun Simić</a></span></p> 
        <h3><span>Exchange Rates</span></h3>
        <ul>
        <li><span>Source: <a href="https://www.exchangerate-api.com/">ExchangeRate-API</a></span></li>
        <li><span>Last update: <%= lastUpdate  %> UTC</span></li>
        </ul>
        

        <h3><span>Background image</span></h3>
       <p><span><a href="https://unsplash.com/@snowjam?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">John McArthur</a> on <a href="https://unsplash.com/photos/10-and-20-us-dollar-bill-ROQzKIAdY78?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></span></p> 
    <h3><span>Support this project</span></h3>
    <ul>
    <li><span><a href="https://github.com/antunsimic/nodejs-projects">GitHub</a></span></li>
    <li><span><a href="https://buymeacoffee.com/antunsimic">Buy me a coffee</a></span></li>
    </ul>  
    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </body>
    </html>
