.card {
    cursor: pointer; /* Changes the pointer to a hand icon */
}

header > div {
    width: 100%;
    max-width: none;
}


#Home .btn-dark {
    height: 5rem;
    width: 5rem;
}

#Home svg {
    position: relative;
    top: 12px;
}

#empty {
    color: white;
    font-weight: 600;
}