
ul {
    list-style: none;
}


body {
    background-image: url("/images/money.jpg");
    background-size: cover;
  
}

span {
    background-color: white;
}

p, li {
    font-size: 18px;
}

.about {
    text-align: center;
  }
  
  .about ul, .about li {
    padding: 0;
    margin: 0;  /* all*/

  }
  
  .about li {
    margin: 0.5rem 0; /* top-bottom, left-right*/
  }
  