<footer class="p-3 text-bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-between">
        <div> Background photo by <a href="https://unsplash.com/@sibilant?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Josephine Bredehoft</a> on <a href="https://unsplash.com/photos/a-close-up-view-of-a-brown-surface-KsAo8ouBn8A?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>          </div>
         <a id="about" href="/stickyNotes/about">About</a>
      </div>
    </div>
  </div>
</footer>