<%-  include("./partials/header.ejs")   %>


<header class="p-3 text-bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center knewave-regular"><a id="brand" href="/stickyNotes">Sticky Notes</a></div>   
    </div>
  </div>
</header>
<main class="text-center mt-3">


   <h1 class="display-4 fw-bold lh-1  my-3 white"> <%= errorMessage  %>  </h1> 
   <% if (errorMessage === "403 - Forbidden") {  %>
   <p id="snarky" class="white my-3 fw-bold" > This note is a well-kept secret! </p>
   <% } else if (errorMessage === "401 - Unauthorized") { %>
    <p id="snarky" class="white my-3 fw-bold" > Try <a href="/stickyNotes/login">logging in</a>. </p>
    <% } %>


</main>
   

<%-  include("./partials/footer.ejs")   %> 



</body>
</html>